@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using SkiaSharp.Views.Blazor
@using MudBlazor
@using Rationals.Explorer.Blazor
@using Rationals.Explorer.Blazor.Components


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider/>

<MudLayout>

	<MudDrawer @bind-Open=@_sidebarOpen Variant="DrawerVariant.Persistent" Width="350px" Elevation="1">

		<MudText Class="pa-2" Typo="Typo.h6">Rationals Explorer</MudText>

		@* Menu --------------------------------------------------------------------------------------- *@

		<MudStack Row>

			<MudMenu Label="Preset" Size="Size.Small" Dense>
				<MudMenuItem Label="Reset" Icon="@Icons.Material.Filled.Refresh" OnClick="@((_) => ResetCurrentPreset())" />
				<MudMenuItem Label="Save" Icon="@Icons.Material.Filled.Save" OnClick="@((_) => SaveCurrentPreset())" />
				<MudMenu Label="Load">
					@foreach (string name in PresetNames ?? []) {
						<MudMenuItem OnClick="@((_) => LoadPreset(name))">
							<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
								<MudText Typo="Typo.body2">@name</MudText>
								<MudTooltip Text="Delete preset">
									<MudIconButton Icon="@Icons.Material.Filled.Clear" Size="Size.Small" Color="Color.Error" OnClick="@((_) => DeletePreset(name))" />
								</MudTooltip>
							</MudStack>
						</MudMenuItem>
					}
				</MudMenu>
				<MudMenu Label="Demo">
					@foreach (string name in DemoPresetNames) {
						<MudMenuItem OnClick="@((_) => LoadDemoPreset(name))">
							<MudText Typo="Typo.body2">@name</MudText>
						</MudMenuItem>
					}
				</MudMenu>

				<MudDivider />
				<MudMenuItem Label="Export..." Icon="@Icons.Material.Filled.FileDownload" OnClick="@((_) => ExportCurrentPreset())" />
				<MudMenuItem Label="Import..." Icon="@Icons.Material.Filled.FileUpload" OnClick="@((_) => TriggerImportPreset())" /> @* using hidden InputFile button: _presetInputFile *@
			</MudMenu>

			<MudMenu Label="Image" Size="Size.Small" Dense>
				<MudMenuItem Label="Save as Png..." Icon="@Icons.Material.Filled.Image" OnClick="@((_) => SaveImageAsPng())" />
				<MudMenuItem Label="Save as Svg..." Icon="@Icons.Material.Filled.Living" OnClick="@((_) => SaveImageAsSvg())" />
			</MudMenu>

			<div style="display:none">
				<InputFile @ref="_presetInputFile" OnChange="ImportPreset" accept=".xml" />
			</div>

		</MudStack>

		<MudStack Class="pa-2" Spacing="0">

			@* Name & description --------------------------------------------------------------------------------------- *@

			<MudStack Row StretchItems="StretchItems.Start">
				<MudTooltip Text="Preset name">
					<MudTextField @bind-Value=@_currentPresetName @bind-Value:after=@(() => MarkPresetChanged(true)) />
				</MudTooltip>
				@if (_currentPresetChanged && !string.IsNullOrEmpty(_currentPresetName)) {
					<MudTooltip Text="Save current preset">
						<MudIconButton Icon="@Icons.Material.Filled.Save" Size="Size.Small" OnClick="@((_) => SaveCurrentPreset())" />
					</MudTooltip>
				}
				<MudTooltip Text="Expand Description">
					<MudIconButton Icon="@Icons.Material.Filled.ExpandMore" Size="Size.Small" OnClick="@((_) => _descriptionShown = !_descriptionShown)" />
				</MudTooltip>
			</MudStack>
			@if (_descriptionShown) {
				<MudTextField Label="Description"
					@bind-Value=@settingDescription @bind-Value:after=@onDescriptionChanged 
					MaxLines="10" Sizing="InputSizing.Auto" Typo="Typo.caption" 
					/>
			}

			@* Drawer controls --------------------------------------------------------------------------------------- *@

			<MudField Label="Primes" Variant="Variant.Outlined" Class="setting-field">
				<MudStack Row Spacing="2" StretchItems="StretchItems.All">
					<MudTooltip Text="Just intonation limit prime">
						<PrimeNumericField Label="Limit" @bind-Value=@settingJiLimit @bind-Value:after=@onJiLimitChanged Min="0" Max="100" Step="1" Disabled=@(_drawerSettings.subgroup != null) />
					</MudTooltip>
					<MudTooltip TooltipContent=@(JoinTooltipContent(null, settingSubgroupTip ?? ["Custom JI subgroup. E.g. '2.3.7' or '2.5/3.7'", "Narrows may be specified in parentheses: '3.5.7.11/4 (7/5.11/12)'"]))>
						<MudTextField Label="Subgroup" @bind-Value=@settingSubgroup @bind-Value:after=@onSubgroupChanged Validation=@((string _) => settingSubgroupError) />
					</MudTooltip>
				</MudStack>
			</MudField>

			<MudField Label="Generate" Variant="Variant.Outlined" Class="setting-field">
				<MudStack Row Spacing="2" StretchItems="StretchItems.End">
					<MudTooltip Text="Harmonic distance function">
						<MudSelect Label="Distance" @bind-Value=@settingDistanceFunction @bind-Value:after=@onGenerationChanged FitContent="true">
							@foreach (string name in HarmonicityUtils.HarmonicityNames) {
								<MudSelectItem Value=@name>@name</MudSelectItem>
							}
						</MudSelect>
					</MudTooltip>
					<MudTooltip Text="Rationals count to generate (Shift+Wheel)">
						<MudNumericField Label="Count" @bind-Value="settingItemCountLimit" @bind-Value:after=@onGenerationChanged Min="1" Max="10000" Step="10" />
					</MudTooltip>
				</MudStack>
			</MudField>

			<MudField Label="Chain slope" Variant="Variant.Outlined" Class="setting-field">
				<MudStack Row Spacing="2" StretchItems="StretchItems.All">
					<MudTooltip Text="Reference point rational to set slope">
						<MudTextField Label="Reference" @bind-Value=@settingSlopeReference @bind-Value:after=@onSlopeReferenceChanged Validation=@((string s) => ValidateSlopeOrigin(s, out _)) />
					</MudTooltip>
					<MudTooltip Text="Number of chain turns between 1 and reference rational">
						<MudNumericField Label="Turns" @bind-Value=@settingSlopeTurns @bind-Value:after=@onSlopeTurnsChanged T="float" Min="0.001f" Max="50f" Step="0.05f" Format="F2" />
					</MudTooltip>
				</MudStack>
			</MudField>

			<MudField Label="Temperament" Variant="Variant.Outlined" Class="setting-field">
				<TemperamentGrid temperament=@settingTemperament
					onRowsChanged=@onTemperamentChanged 
					onMeasureChanged=@onTemperamentMeasureChanged />
			</MudField>

			<MudField Label="ED lattice" Variant="Variant.Outlined" Class="setting-field">
				<MudStack Row Spacing="2" StretchItems="StretchItems.All"> @* !!! wrap with MudStack as a workaround for https://github.com/MudBlazor/MudBlazor/issues/11941 *@
					<MudTooltip Text="Equal division lattices. E.g. '12edo 4 7, 19ed3'">
						<MudTextField @bind-Value=@settingEDLattice @bind-Value:after=@onEDLatticeChanged Validation=@((string _) => settingEDLatticeError) />
					</MudTooltip>
				</MudStack>
			</MudField>

			<MudField Label="Selection" Variant="Variant.Outlined" Class="setting-field">
				<MudStack Row Spacing="2" StretchItems="StretchItems.All"> @* !!! wrap with MudStack as a workaround for https://github.com/MudBlazor/MudBlazor/issues/11941 *@
					<MudTooltip Text="Rationals selection">
						<MudTextField @bind-Value=@settingSelection @bind-Value:after=@onSelectionChanged Validation=@((string _) => settingSelectionError) />
					</MudTooltip>
				</MudStack>
			</MudField>

			<MudTextField Label="Info" Variant="Variant.Outlined" T="string"
				MaxLines="10" Sizing="InputSizing.Auto"
				ReadOnly Typo="Typo.caption" 
				Text="@selectionInfo"
				/>

			@* --------------------------------------------------------------------------------------- *@

		</MudStack>
	</MudDrawer>

	<div style="position: absolute;">
		<MudIconButton Size="Size.Small"
			Icon="@(_sidebarOpen ? Icons.Material.Filled.ChevronLeft : Icons.Material.Filled.ChevronRight)" 
			OnClick="@(() => _sidebarOpen = !_sidebarOpen)" 
			/>
	</div>

	<MudMainContent Class="pt-0">
		<div style="width: 100%; height: 100vh;">
			<SKCanvasView
				Style=@($"cursor: {currentCursor}; width:100%; height:100%; display:block;")
				tabindex="0"
				IgnorePixelScaling="true"
				OnPaintSurface=@OnPaintSurface
				@ref             =@_skCanvas
				@onmousemove     =@HandleMouseMove
				@onmouseleave    =@HandleMouseLeave
				@onpointerdown   =@HandlePointerDown
				@onpointerup     =@HandlePointerUp
				@onwheel         =@HandleWheel
				@onkeydown       =@(EventUtil.AsNonRenderingEventHandler<KeyboardEventArgs>(this, HandleKeyDown))
				@onkeyup         =@HandleKeyUp
			/>
			@* AsNonRenderingEventHandler to avoid rerender on each onkeydown (e.g. when holding Space) *@
		</div>
	</MudMainContent>

</MudLayout>
